body{
    background-image: linear-gradient(to  right, whitesmoke, palegoldenrod);
}

#logo{
    width:10vw;
    height:10vw;
    margin: 0 auto;
    display: block;
}
#companyName{
    font-family: "Changa", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    position: relative;
    bottom: 20px;
}
.container form{
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    bottom: 60px;
}
.inputbox {
    border-radius: 10px;
    border: 1px solid cadetblue;
    width: 300px;
    max-width: 350px;
    padding: 10px;
    margin-bottom: 10px;
}
.container{
    display: flex;
    flex-direction: column;
    align-items: center;
}
form h3{
    font-size: 2.5em;
}
#forgot{
    text-decoration: none;
    position: relative;
    left: 100px;
}
.button{
    border-radius: 10px;
    width: 120px;
    height: 40px;
    background-color: #0F0656;
    color: white;
    font-size: 1.0em;
    font-weight: bold;
    position: relative;
    top: 28px;
}

form .dont{
    position: relative;
    top: 40px;
}
.password-toggle-icon{
    position: relative;
    right: 30px;
}
.pw{
    position: relative;
    left: 10px;
}